* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
}

#quote-box {
  padding: 48px;
  max-width: 600px;
  width: 70%;
  position: relative;
  background: #fff;
}

#quote-box.active {
  height: 0px;
}

#quote-box:before, 
#quote-box:after {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 50%;
  top: 80%;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
#quote-box:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#text {
  margin: 0px;
  line-height: 38px;
}

#author {
  margin: 40px 0px 0px;
}

#new-quote {
  color: #fff;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  cursor: pointer;
  margin-top: 32px;
  position: absolute;
  bottom: 25%;
}
#new-quote:hover {
  transform: translateY(-2px);
}

#tweet-quote {
  text-decoration: none;
  font-size: 24px;
  margin-top: 24px;
  display: inline-block;
}
#tweet-quote:hover {
  transform: rotate(-16deg);
}

@keyframes ldio {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
.ldio > div > div {
  transform-origin: 50px 50px;
  animation: ldio 3.0303030303030303s linear infinite;
  opacity: 0.8;
}
.ldio > div > div > div {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 35px;
  height: 35px;
  border-radius: 35px 0 0 0;
  transform-origin: 50px 50px
}.ldio > div div:nth-child(1) {
  animation-duration: 0.7575757575757576s
}
.ldio > div div:nth-child(1) > div {
  background: #c44129;
  transform: rotate(0deg);
}.ldio > div div:nth-child(2) {
  animation-duration: 1.0101010101010102s
}
.ldio > div div:nth-child(2) > div {
  background: #ec9332;
  transform: rotate(0deg);
}.ldio > div div:nth-child(3) {
  animation-duration: 1.5151515151515151s
}
.ldio > div div:nth-child(3) > div {
  background: #3e8410;
  transform: rotate(0deg);
}.ldio > div div:nth-child(4) {
  animation-duration: 3.0303030303030303s
}
.ldio > div div:nth-child(4) > div {
  background: #0560bd;
  transform: rotate(0deg);
}
.loadingio-spinner-wedges {
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.8);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio div { box-sizing: content-box; }

@media screen and (max-width: 960px) {
  #quote-box {
    width: 90%;
    padding: 32px;
  }

  #author {
    margin-top: 24px;
  }

  #new-quote:hover {
    transform: translateY(0px);
  }
  #tweet-quote:hover {
    transform: rotate(0deg);
  }

  #new-quote {
    bottom: 24px;
  }
}