* {
  box-sizing: border-box;
}

#quote-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
}

#new-quote {
  color: #fff;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  cursor: pointer;
  margin-top: 32px;
  transition: background 0.8s ease-in-out;
}
#new-quote:hover {
  transform: translateY(-2px);
}

@media screen and (max-width: 860px) {
  #new-quote {
    bottom: 24px;
  }

  #new-quote:hover {
    transform: translateY(0px);
  }
}